<a href="https://colab.research.google.com/github/BorutFlis/fastbook/blob/master/soccer_predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
import pandas as pd
df = pd.read_csv('/content/gdrive/My Drive/classifier_min.csv',index_col=0)
for c in df.columns:
  print(c)

home_total_goal_count_pre_game
away_total_goal_count_pre_game
home_goals_scored_pre_game
away_goals_scored_pre_game
home_goals_conceded_pre_game
away_goals_conceded_pre_game
home_average_possession_pre_game
away_average_possession_pre_game
home_total_goal_count_5games_pre_game
away_total_goal_count_5games_pre_game
home_average_shots_pre_game
away_average_shots_pre_game
home_average_shots_against_pre_game
away_average_shots_against_pre_game
home_ppg_pre_game
away_ppg_pre_game
home_ppg_5games_pre_game
away_ppg_5games_pre_game
results

Our attributes are average statistics from the two competing teams.

In [ ]:
#hide
!pip install -Uqq fastbook
from fastai.tabular.all import *

     |████████████████████████████████| 727kB 3.4MB/s
     |████████████████████████████████| 51kB 5.5MB/s
     |████████████████████████████████| 51kB 5.9MB/s
     |████████████████████████████████| 1.0MB 17.8MB/s
     |████████████████████████████████| 194kB 27.9MB/s
     |████████████████████████████████| 40kB 5.6MB/s
     |████████████████████████████████| 92kB 8.4MB/s
     |████████████████████████████████| 51kB 5.6MB/s
     |████████████████████████████████| 61kB 7.4MB/s
     |████████████████████████████████| 51kB 5.9MB/s
     |████████████████████████████████| 2.6MB 17.1MB/s

In [ ]:
procs = [Categorify, FillMissing, Normalize]
dls = TabularDataLoaders.from_df(df, procs=procs,
                                 y_names="results", valid_idx=list(range(800,1000)), bs=32)
learn = tabular_learner(dls,loss_func=CrossEntropyLossFlat(), metrics=accuracy, lr=0.01)

In [ ]:
learn.fit_one_cycle(40)