<a href="https://colab.research.google.com/github/BorutFlis/fastbook/blob/master/soccer_predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
import pandas as pd
df = pd.read_csv('/content/gdrive/My Drive/classifier_min.csv',index_col=0)
print(df)

      home_total_goal_count_pre_game  ...  results
0                           2.605263  ...      win
1                           2.540000  ...     loss
2                           2.540000  ...     loss
3                           2.657895  ...      win
4                           2.578947  ...     draw
...                              ...  ...      ...
5473                        2.815789  ...     draw
5474                        2.736842  ...      win
5475                        2.447368  ...     loss
5476                        2.105263  ...     draw
5477                        3.500000  ...      win

[5478 rows x 19 columns]

In [4]:
#hide
!pip install -Uqq fastbook
from fastai.tabular.all import *

     |████████████████████████████████| 727kB 1.4MB/s
     |████████████████████████████████| 1.0MB 6.2MB/s
     |████████████████████████████████| 51kB 4.8MB/s
     |████████████████████████████████| 51kB 4.5MB/s
     |████████████████████████████████| 194kB 8.1MB/s
     |████████████████████████████████| 40kB 3.6MB/s
     |████████████████████████████████| 92kB 5.1MB/s
     |████████████████████████████████| 51kB 4.9MB/s
     |████████████████████████████████| 61kB 5.8MB/s
     |████████████████████████████████| 51kB 4.8MB/s
     |████████████████████████████████| 2.6MB 8.1MB/s

In [9]:
procs = [Categorify, FillMissing, Normalize]
dls = TabularDataLoaders.from_df(df, procs=procs,
                                 y_names="results", valid_idx=list(range(800,1000)), bs=64)
learn = tabular_learner(dls,metrics=accuracy)

In [11]:
learn.fit_one_cycle(20)